{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <div class="row gx-4 gx-lg-5 ">
    <div class="col mt-5">
      <div class="post-preview">
          <h2 class="post-title">{{ post.title }}</h2>
        </a>
        <a href="" class="btn btn-success ">Publish</a>
        <a href="" class="btn btn-primary ">Edit</a>
        <a href="" class="btn btn-danger">Delete</a>
        <p class="post-subtitle">{{ post.content| linebreaksbr }}
        </p>
        <p class="post-meta">
          @{{ post.author.username }}
          on {{ post.published_at }}
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}